{% extends "base.html" %}
{% block content %}

    <div class="col-md-5">

            {% if object.friends_requests.all %}
            <div>
            <h3 class="mt-5">Friend requests:</h3>
            <hr>
            {% for friend in object.friends_requests.all %}
                <form class="mt-2" action="{% url "accept-friend" friend.pk %}" method="POST">
                    {% csrf_token %}
                    <div class="friends-invitation">
                        <img class="rounded-circle article-img" src="{{ friend.profile.photo.url }}">
                        <span class="article-author ml-3">
                            <a href="{% url 'film-user' friend.pk %}">{{ friend.username }}</a>
                        </span>
                    </div>
                    <div class="btn-group" role="group" aria-label="Basic example">
                        <button type="submit" name="accept" value="accept" class="btn btn-outline-success btn-sm">
                            accept
                        </button>
                        <button type="submit" name="accept" value="decline" class="btn btn-outline-danger btn-sm">
                            decline
                        </button>
                    </div>
                </form>
                <br>
            {% endfor %}
        </div>

    <hr>
    {% endif %}

        <div>

            <h3 class="mt-5">Friends:</h3>
                    <hr>

                {% for friend in object.friends.all %}
                    <div>
                    <img class="rounded-circle article-img mt-2" src="{{ friend.profile.photo.url }}">
                    <span class="article-author ml-3">
                        <a href="{% url 'film-user' friend.pk %}">{{ friend.username }}</a>
                    </span>
                    </div>
                    <hr>

                {% endfor %}

        </div>


    </div>


{% endblock %}