{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    {% if title %}
        <title>{{ title }}</title>
    {% else %}
        <title>Filmbook</title>
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'films/css/films.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'accounts/css/accounts.css' %}"/>

    <script src="https://kit.fontawesome.com/0a451c7507.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.gstatic.com">

    <link href="https://fonts.googleapis.com/css2?family=Lobster&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap" rel="stylesheet">

    </head>
    <body>
         <!-- Navigation -->
         <nav class="navbar navbar-expand-lg navbar-dark">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" href="{% url 'about' %}">About </a>
              </li>
              {% if user.is_authenticated %}
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                               Films
                  </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                   <a class="dropdown-item" href="{% url 'add-film' %}">Add Film</a>
                   <a class="dropdown-item" href="{% url 'film-user' user.pk %}">My films</a>
                    {% if user.profile.friends.all %}
                        <a class="dropdown-item" href="{% url 'friends-films' %}">Private films of my friends</a>
                    {% endif %}
                </div>
               </li>
              {% if user.is_superuser %}
                <li class="nav-item dropdown">
                   <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                      data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                   Categories
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="{% url 'add-category' %}">Add Category</a>
                    <a class="dropdown-item" href="{% url 'categories' %}">Categories</a>

                    </div>
                </li>
                {% endif %}
              {% endif %}
            </ul>
            <a class="navbar-brand" href="{% url 'home' %}">Filmbook</a>
            <ul class="navbar-nav ml-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link notification" href="{% url 'friends-list' user.pk %}"><i class="fas fa-user-friends"></i>
                            {% if user.profile.friends_requests.all %}
                                <span class="notification-badge">{{ user.profile.friends_requests.all.count }}</span>
                            {% endif %}
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'user-update' user.pk %}"><i class="fas fa-user-circle"></i></a>

                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'logout' %}">Logout <span class="sr-only">(current)</span></a>
                    </li>

                {% else %}
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'signup' %}">Register <span class="sr-only">(current)</span></a>
                     </li>
                     <li class="nav-item active">
                        <a class="nav-link" href="{% url 'login' %}">Login <span class="sr-only">(current)</span></a>
                     </li>
                {% endif %}

            </ul>

          </div>
        </nav>


        <div class="container">

                {% if messages %}
                    {% for message in messages %}
                        <div class="alert alert-{{ message.tags }} mt-2" role="alert">
                            {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}

            <div class="row">
                {% block content %}{% endblock %}

            </div>
        </div>


        <!-- Back to top button -->
      <button id="back_top_button"></button>


       <!-- Footer -->
      <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Filmbook Copyright &copy; Your Website 2020</p>
                </div>
            </div>

      </footer>


    <script type="text/javascript" src="{% static 'js/top_nav.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/scroll_top_button.js' %}"></script>
    <script type="text/javascript" src="{% static 'films/js/hover_img.js' %}"></script>
    <script type="text/javascript" src="{% static 'films/js/show_loading.js' %}"></script>


    </body>
</html>
