{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    {% if user.is_authenticated %}
        <hr>

        <article class="film-content">

            <div class="media-body">

                <div class="article-metadata">
                    <img class="rounded-circle article-img" src="{{ object.author.profile.photo.url }}"/>
                    <span class="article-author mr-2"><a href="#">{{ object.author }}</a></span>
                    <span class="article-date"><small> {{ object.publication_date|date:"F d, Y" }}</small></span>
                </div>

                <hr>
                <p>{{ object.title }}</p>
                <video controls>
                    <source src="{{ object.video.url }}" type="video/mp4">
                </video>
                <p>{{ object.description|truncatewords:80 }}</p>

            </div>

            <!-- LIKES -->
            <form action="{% url "film-like" object.slug %}" method="POST">
                {% csrf_token %}

                {% if post_is_liked %}
                    <button type="submit" name="film_id" value="{{ object.id }}" class="btn btn-info">Unlike</button>
                {% else %}
                    <button type="submit" name="film_id" value="{{ object.id }}" class="btn btn-info">Like</button>
                {% endif %}
            </form>
            <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>

            <!-- VIEWS -->
            <p>Views: {{ hitcount.total_hits }}</p>

            <!-- TAGS -->
            <ul>
                {% for tag in object.tags.all %}
                    <li> {{ tag.name }} </li>
                {% endfor %}
            </ul>

        </article>

    {% else %}
        <hr>

        {% if not film.isPrivate %}

            <article class="film-content">

                <div class="media-body">
                    <div class="article-metadata">
                        <img class="rounded-circle article-img" src="{{ object.author.profile.photo.url }}"/>
                        <span class="article-author mr-2"><a href="#">{{ object.author }}</a></span>
                        <span class="article-date"><small> {{ object.publication_date|date:"F d, Y" }}</small></span>
                    </div>

                    <hr>
                    <p>{{ object.title }}</p>
                    <video width='90%' height=90%' controls>
                        <source src="{{ object.video.url }}" type="video/mp4">
                    </video>
                    <p>{{ object.description|truncatewords:80 }}</p>

                </div>
                <a class="btn btn-outline-info" href="#">Log in to like this article!</a><br>
                <strong class="text-secondary">{{ number_of_likes }} Like{{ number_of_likes|pluralize }}</strong>

                <!-- VIEWS -->
                <p>Views: {{ hitcount.total_hits }}</p>

                <!-- TAGS -->
                <ul>
                    {% for tag in object.tags.all %}
                        <li> {{ tag.name }} </li>
                    {% endfor %}
                </ul>

            </article>

        {% endif %}

    {% endif %}

{% endblock %}