{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
{% load full_url %}
{% load ids_friends %}

    <div class="col-md-8 mt-5">

        {% if user.is_authenticated %}

            <h5>Public films</h5>
            {% for film in paginated_filter %}
                {% if not film.isPrivate %}
                    <hr>
                    <article class="film-content">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <img class="rounded-circle article-img" src="{{ film.author.profile.photo.url }}"/>
                                    <span class="article-author mr-2"><a  href="{% url 'film-user' film.author.pk %}">{{ film.author }}</a></span>
                                    <span class="article-date"><small> {{ film.publication_date|date:"F d, Y" }}</small></span>
                                </div>

                                <hr>
                                <a class="article-title" href="{% url 'film-detail' film.slug %}">{{ film.title }}</a>
                                <div class="film-gif" >
                                    <img id="gif-img" class="active" src="{{ film.poster.url }}" onmouseover="loadGif(this, '{{ film.gif.url }}')" onmouseleave="loadGif(this, '{{ film.poster.url }}')">
                                </div>
                                <p class="article-description">{{ film.description|truncatewords:50 }}</p>
                                <i class="far fa-comment"></i> <span>{{ film.comments.count }}</span>
                                <i class="far fa-thumbs-up ml-3"></i>  <span>{{ film.likes.count }}</span>
                                {% if film.rating %}
                                    <i class="far fa-star ml-3"></i> <span>{{ film.rating }}</span>
                                {% endif %}
                                <i class="far fa-eye ml-3"></i> <span>{{ film.hit_count.hits }}</span>
                            </div>
                    </article>

                {% endif %}

            {% endfor %}

        {% else %}
            <hr>
            <h5>Public films</h5>
             {% for film in paginated_filter %}
                {% if not film.isPrivate %}
                    <hr>
                    <article class="film-content">
                            <div class="media-body">
                                <div class="article-metadata">
                                    <img class="rounded-circle article-img" src="{{ film.author.profile.photo.url }}"/>
                                    <span class="article-author mr-2"><span class="ml-2">{{ film.author }}</span></span>
                                    <span class="article-date"><small> {{ film.publication_date|date:"F d, Y" }}</small></span>
                                </div>

                                <hr>
                                <p class="article-title">{{ film.title }}</p>
                                <div class="film-gif">
                                    <img id="gif-img" class="active" src="{{ film.poster.url }}" onmouseover="loadGif(this, '{{ film.gif.url }}')" onmouseleave="loadGif(this, '{{ film.poster.url }}')"/>
                                </div>
                                <p class="article-description">{{ film.description|truncatewords:50 }}</p>
                                <i class="far fa-comment"></i> <span>{{ film.comments.count }}</span>
                                <i class="far fa-thumbs-up ml-3"></i>  <span>{{ film.likes.count }}</span>
                                {% if film.rating %}
                                    <i class="far fa-star ml-3"></i> <span>{{ film.rating }}</span>
                                {% endif %}
                                <i class="far fa-eye ml-3"></i> <span>{{ film.hit_count.hits }}</span>

                            </div>
                    </article>
                {% endif %}

            {% endfor %}
        {% endif %}


    </div>

    <div class="sidebar col-md-4">
        <div class="jumbotron">

            <h5>Filters</h5>
            <form method="GET">
                <label for="pagination">Films on page</label>
                <select id="pagination" name="paginate_by" class="form-control">
                    <option value="">----------</option>
                    <option value="1">1</option>
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>

                </select>
                {{ filter.form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>

        </div>
    </div>


    <div class="buttons-paginate">
        {% if is_paginated %}
            <hr>
            {% if paginated_filter.has_previous %}
                <a class="btn btn-outline-info mb-4" href="{% full_url 1 'page' request.GET.urlencode %}">First</a>
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.previous_page_number 'page' request.GET.urlencode %}">Previous</a>
            {% endif %}

            {% for num in paginated_filter.paginator.page_range %}
                {% if paginated_filter.number == num %}
                    <a class="btn btn-info mb-4" href="{% full_url num 'page' request.GET.urlencode %}">{{ num }}</a>
                {% elif num > paginated_filter.number|add:'-3' and num < paginated_filter.number|add:'3' %}
                    <a class="btn btn-outline-info mb-4" href="{% full_url num 'page' request.GET.urlencode %}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if paginated_filter.has_next %}
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.next_page_number 'page' request.GET.urlencode %}">Next</a>
                <a class="btn btn-outline-info mb-4" href="{% full_url paginated_filter.paginator.num_pages 'page' request.GET.urlencode %}">Last</a>
            {% endif %}

        {% endif %}
    </div>


{% endblock %}