{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}

    <div class="col-md-8 mt-5">

        <hr>

        {% for film in films %}
            {% if user.is_authenticated %}
                <article class="film-content">
                        <div class="media-body">
                            <div class="article-metadata">
                                <img class="rounded-circle article-img" height="50px" width="50px" src="{{ film.author.profile.photo.url }}"/>
                                <span class="article-author mr-2"><a  href="#">{{ film.author }}</a></span>
                                <span class="article-date"><small> {{ film.publication_date|date:"F d, Y" }}</small></span>
                            </div>

                            <hr>
                            <p>{{ film.title }}</p>
                            <video width='90%' height=90%' controls>
                                <source src="{{ film.video.url }}" type="video/mp4">
                            </video>
                            <p>{{ film.description|truncatewords:80 }}</p>
                        </div>
                </article>
            {% else %}
                {% if film.isPublic %}
                    <article class="film-content">
                        <div class="media-body">
                            <div class="article-metadata">
                                <img class="rounded-circle article-img" height="50px" width="50px" src="{{ film.author.profile.photo.url }}"/>
                                <span class="article-author mr-2"><a  href="#">{{ film.author }}</a></span>
                                <span class="article-date"><small> {{ film.publication_date|date:"F d, Y" }}</small></span>
                            </div>

                            <hr>
                            <p>{{ film.title }}</p>
                            <video width='90%' height=90%' controls>
                                <source src="{{ film.video.url }}" type="video/mp4">
                            </video>

                        </div>
                    </article>
                {% endif %}
            {% endif %}
        {% endfor %}

        <hr>
    </div>

    <div class="sidebar col-md-3">
        <div class="jumbotron">
            <h5>Filters</h5>
            <form method="GET">
                <label for="pagination">Films on page</label>
                <select id="pagination" name="paginate_by" class="form-control">
                    <option value="">----------</option>
                    <option value="1">1</option>
                    <option value="3">3</option>
                    <option value="6">6</option>
                    <option value="9">9</option>
                    <option value="12">12</option>
                    <option value="18">18</option>
                </select>
                {{ filter.form|crispy }}
                <button type="submit" class="btn btn-primary mt-4">Submit</button>
            </form>
        </div>
    </div>


{% endblock %}