.film-content video{
    width: 90%;
    height: 90%;
}

.article-img{
    width: 50px;
    height: 50px;
}

article .article-date{
    float: right;
    margin-top: 10px;
}

article .article-author a{
    margin-left: 15px;
    text-decoration: none;
}

article .article-description{
    margin-top: 10px;
    width: 90%;
    text-align: justify;
    text-justify: inter-word;
}

article .article-title{
    text-decoration: none;
    display: block;
    margin-bottom: 10px;
}

article a{
    text-decoration: none;
    color: #405F63;
}

article a:hover{
    color: crimson;
}

.sidebar .jumbotron{
    margin-left: 1rem;
    margin-top: 60px;
    background-color: #CCE3DE;
    padding: 2rem 2rem;
}

/*book-form*/
#form-book input[type=checkbox]{
    transform: scale(0.5);


}

#form-book .label-checkbox{
}

/*filters*/

.sidebar label{
    margin-top: 10px;
}


#div_id_rating input{
    display: inline-block;
    width: 40%;
}

#div_id_rating input[name=rating_min]{
    margin-right: 7px;
}


#div_id_rating input[name=rating_max]{
    margin-left: 12px;
}

#div_id_isPrivate input{
    margin-top: 15px;
}

#div_id_isPrivate label{
    margin-left: 15px;
}

/*button - paginate*/

.buttons-paginate a{
    border-color: #706d6d;
    color: #706d6d;
}

.buttons-paginate a:hover{
    border-color: #706d6d;
    background-color: #706d6d;
}

.buttons-paginate .btn-info{
    color: white;
    background-color: #706d6d;
}

.film{
    margin: auto;
}

.film-description{
    text-align: justify;
    text-justify: inter-word;
}

.film-edit-buttons .btn-sm{
    text-decoration: none;
}

/*comments*/

.comments-section .content-section
{
  padding: 10px 20px;
  border: 1px solid #dddddd;
  border-radius: 3px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.comments-section .content-section .article-metadata
{
    display: flex;
    justify-content: space-between;
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3

}

.comments-section .content-section  .article-img
{
  height: 50px;
  width: 50px;
  margin-right: 20px;
}

.comments-section .content-section .article-content{
    margin-left: 15px;
    text-align: justify;
    text-justify: inter-word;
}

.comment-edit-buttons{
    margin-left: 15px;
}


.comment-edit-buttons.btn {
   margin-left: 10px;
   color: #4D4545;
   border-color: #4D4545;
}

.comment-edit-buttons .btn:hover
{
   background-color: #A59E9D;
}


.comment-edit-buttons .btn-sm
{
   color: #4D4545;
   border-color: #4D4545;
   text-decoration:  none;
   margin-left: -5px;
}

.comment-edit-buttons .btn-sm:hover
{
   background-color: #A59E9D;
}

.content-section .article-author{
    display: inline;
    margin-top: 12px;
}

.content-section .article-title{
    display: inline;
    margin-top: 12px;
    text-align: center;
}


