.user-content .content-section{
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin: 20px;
    padding: 30px;

}

.user-content label{
    margin-top: 10px;
}

.content-section .friend{
    display: block;
    text-decoration: none;
    margin-top: 20px;
}
